@keyframes stretch {
    from {
        letter-spacing: 0%;
    }
    to {
        letter-spacing: 100%;
    }
}

@keyframes homeButtonRotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 90deg;
    }
}

:root {
    color-scheme: light dark;
}

.link {
    background-image: url("gabriel-chavez.png")
}

body {
    background-color: light-dark(#ffffff, #212121);   
    color: light-dark(#000000, #aaaaaa);
    font-size: 18pt;
    }

div {
    
    color: #5EF719;
    border-style: solid;
    padding: 16px;
    /* border-top-width: 16px;
    border-top-color: #068800;
    border-top-style: double; */
    margin: auto;
    margin-top: 8px;
    width: fit-content;
    background-image: url("/pictures/text_background.png");
    border-image: url("/pictures/text_border.png");
    border-image-slice: 33.333333%;
    border-image-width: 16px;
    border-image-repeat: stretch;
    
}

h1 {
    border-left-width: 1vw;
    border-left-style: solid;
    border-left-color: rgb(64,180,180);
    padding-left: 0.5vw;
    margin-left: 0.5vw;
    font-size: 40pt;
}

.stretch {
    animation-name: stretch;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-wrap-mode: nowrap;
}

.button {
    border-style: solid;
    border-width: 4;
    border-color: pink;
    background-color: beige;
    color: darkslategray;
    background-size: cover;
}

.homeButton:hover {
    height: 50px;
    width: 50px;
    animation-name: homeButtonRotate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

table {
    border-style: solid;
    border-width: 2;
    border-color: bisque;
}
td {
    border-style: solid;
    border-width: 2;
    border-color: bisque;
    text-align: center;
    
}

th {
    border-style: solid;
    border-width: 4;
    border-color: bisque;
    text-align: center;
}

input, select {
        width: 20%;
        border-width: 3;
        border-color: beige;
}

.movingText {
    border-style: dashed;
    border-color: red;
    font-size: 22pt;
    color: red;
}